
  body{
      max-width: 950px;
      min-width: 320px;
      
      display:grid;
      grid-template-columns: auto auto;
  }

  header{
    grid-area: profile;
  }

  main{
      grid-area: articles;
  }
  
  .socialMediaLinks{
    text-align: right;
}

  h1{
      color: rgb(40, 102, 94);
      font-family:  sans-serif;
      font-size: 40
  }

  h1 sub{
      display: inline-block;
      color: gray;
  }

  #profilePic{
      position: relative;
      Left: 200px;
      bottom: 50px;
      margin-bottom: -50px;
  }

  header p{
      font-size: 24px;
    width: 320px
  }

  .articleBox {
    background-color: #444;
    color: white;
    padding: 20px;
    /*! font-size: 150%; */
    border: 2px solid black;
  }

h2{
  margin: 50px 0px 0px 10px;
}

