
*{
  box-sizing: border-box;
  margin: 0px;  
}

span.avoidwrap { display:inline-block; }

p{
  font-family:  'Saira', sans-serif;
}

a{
  line-height: 0%;
}

h1, h2, h3, h4, h5, h6{
  font-family: 'Saira Condensed', sans-serif;
  font-weight: 500; 
}

body{
  max-width: 750px;
  min-width: 320px;
  margin: 0 auto;
  padding: 16px 8px 16px 8px;
  display:grid;
  grid-template-areas:
  "profile"
  "socialMedia"
  "articles"
}

.article_image{
  width: 100%;
  height: auto;
  border: 0.5px solid black;
}

.socialMediaLinks{
  margin: 8px 0px 8px 0px;
  display: flex;
  clear: both;
  grid-area: socialMedia;
  align-items: center;
  justify-content: left;
}

.profile{
  grid-area: profile;
  padding: 16px 0px 0px 16px;
}

main{
  grid-area: articles;
}

@media screen and (min-width: 601px){
  main{
    display: flex;
    
    grid-area: articles;
    flex-wrap: wrap;  
    justify-content: space-between;
  }
  .articleBox {
    width: calc(50% - 8px);
  }
}

h1{
  color: #3E4851;
  font-size: 21px;
  font-weight: 400;
}

.H1subtext{
  font-weight: 500;
  color: #4A872E;
  font-size: 21px;
  
}
 
#profilePic{
  object-fit:  cover;
  float: right;
  margin: 8px 0px 8px 0px;
  width: calc(100% - 90px);
  height: 180px;
  border: 0.5px solid  #3E4851;
}

header p{
}

.articleBox {
    border-left: 5px solid #4A872E;
    margin: 0px 0px 16px 0px;

}
  
.articleBoxContent
  {
    padding: 16px 16px 16px 16px;
}


.icon{
margin:12px;
width: 32px;
}
  
h3{
    font-size: 38px;
    font-weight: 700;
}

.articleBoxHeading{
  font-weight: 700;
  font-size: 38px;
  color: rgb(255, 255, 255);
  background-color: #4A872E;
  line-height: 110%;
}
